<!DOCTYPE html>
<html lang="en">
<head>
   
    <script src="/js/toDo.js"> </script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" >
    <%- include('./partials/head.ejs')%>
</head>
<body>
       <header>
        <h1><b>TASKS FOR THE DAY</b></h1>
        <br>
        <br>
            <form id="taskform" onsubmit="onSubmitTodo(event)">
                <input type="text" name="taskinput" id="taskinput" placeholder=" Enter your plan for the day">
                <input type="submit" id="tasksubmit" value="Add Task">
                
                <br>
                <span id="errorMsg"></span>

            </form>
          <br>
    
        </header>
        <main>
            <section class="tasklist">
                
                <h1 >MY TO DO LIST </h1>
                <button type="submit" id="del" onclick="deleted(event)">Delete</button>
                <br>
                <div id="tasks">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ToDo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="toDoBody">
               
                    <% allTodos.forEach((i)=>{ %>
                       
                        <tr>
                    
                        <td>
                            <%= i.id%>
                        </td>
                        <td>
                            <%= i.todo%>
                        </td>
                        <td>
                            <input type=checkbox title = "check" class = "checkbox"  onclick = "update(this)" 
                                <%= i.isDone?'checked':'' %>>
                        </td>
                    <%})%>
                </tr>
            </tbody>
        </table>
                </div>
            </section>
            
        </main>
        </div>
       
    
</body>
</html>